html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
	font-weight: 400;
}

textarea {
	resize: none;
}

fieldset {
	border: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

i.material-icons {
	vertical-align: middle;
}